@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
.primary-flex{
    display: flex;
}
.justify-center{
    justify-content: center;
}
.nav-link{
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: larger;
    color: white;
    text-decoration: none;
}
.list-flat{
    display: flex;
    justify-content: end;
    list-style: none;
}
.list-flat a{
    text-decoration: none;
}
.list-elements{
    position: relative;
    color: white;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: larger;
    text-decoration: none;
    margin-left: 25px;
}
.list-elements::after{
    content: "";
    position: absolute;
    background-color: white;
    width: 0%;
    height: 3px;
    border-radius: 5px;
    left: 0%;
    bottom: -5px;
}
.list-elements:hover::after{
    width: 100%;
    position: absolute;
    transition: 0.6s;
}
.justify-end{
    justify-content: end;
}
.justify-start{
    justify-content: start;
}
.float-33{
    float:left;
    width: 33.33%;
}
.float-35{
    float: left;
    width: 35%;
}
.float-65{
    float: left;
    width: 65%;
}
.margin-bottom{
    margin-bottom: 25px;
}
.bg-footer{
    background-color: rgba(27, 27, 27, 0.833);
}
.pad{
    padding: 40px;
}