@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    overflow-x: hidden;
    background-color: rgba(0, 0, 0, 0.975);
    display: grid;
}
header{
    margin: 20px;
}
.nav-left{
    float: left;
    width: 50%;
}
.hero-section{
    margin-top: 50px;
    padding: 0px 0px 0px 100px;
    display: flex;
}
.left-side-img{
    display: flex;
    justify-content: center;
    float: left;
    width: 30%;
}
.left-side-img img{
    z-index: -2;
    height: 600px;
    width: auto;
    mask-image: 
    linear-gradient(to right, transparent, black 15%, black 75%, transparent), 
    linear-gradient(to bottom, transparent, black 10%, black 80%, transparent), 
    linear-gradient(to top, transparent, black 10%, black 80%, transparent), 
    linear-gradient(to left, transparent, black 15%, black 75%, transparent);
    -webkit-mask-image: 
    linear-gradient(to right, transparent, black 15%, black 75%, transparent), 
    linear-gradient(to bottom, transparent, black 10%, black 80%, transparent), 
    linear-gradient(to top, transparent, black 10%, black 80%, transparent), 
    linear-gradient(to left, transparent, black 15%, black 75%, transparent);
    mask-composite: intersect;
    -webkit-mask-composite: destination-in;
}
.right-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    float: right;
    width: 65%;
    text-align: center;
}
.right-info h1{
    display: flex;
    justify-content: center;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    color: white;
}
.right-info p{
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: small;
    font-style: normal;
    color: white;
}
.right-info p{
    color: white;
}
.heading-event-collection{
    width: 100%;
}
.event-collection{
    display: grid;
    width: 100%;
    margin-top: 100px;
    margin-bottom: 100px;
    color: white;
    justify-content: center;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
}
.events{
    width: 100%;
    display: flex;
}
.event-hero{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}
.event-desc{
    float: left;
    width: 33.33%;
    margin: 0px 20px 0px 20px;
}
.event-img{
    height: 350px;
    /* width: 390px; */
    mask-image: 
    linear-gradient(to right, transparent, black 15%, black 75%, transparent), 
    linear-gradient(to bottom, transparent, black 10%, black 80%, transparent), 
    linear-gradient(to top, transparent, black 10%, black 80%, transparent), 
    linear-gradient(to left, transparent, black 15%, black 75%, transparent);
    -webkit-mask-image: 
    linear-gradient(to right, transparent, black 15%, black 75%, transparent), 
    linear-gradient(to bottom, transparent, black 10%, black 80%, transparent), 
    linear-gradient(to top, transparent, black 10%, black 80%, transparent), 
    linear-gradient(to left, transparent, black 15%, black 75%, transparent);
    mask-composite: intersect;
    -webkit-mask-composite: destination-in;
}
.desc-font{
    font-family: "Playfair Display", serif;

}
.event-desc{
    text-align: center;
}
.heading-counter{
    color: white;
    font-family: "Playfair Display", serif;
    font-weight: 100;
}
.move-out-num{
    margin-top: 200px;
    margin-bottom: 200px;
}
.count-div{
    display: grid;
}
.count-div h1{
    font-size: 52px;
}
.count-div p{
    font-size: 28px;
}
.counter-desc{
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
}
.abt-img{
    mask-image: 
    linear-gradient(to right, transparent, black 15%, black 75%, transparent), 
    linear-gradient(to bottom, transparent, black 10%, black 80%, transparent), 
    linear-gradient(to top, transparent, black 10%, black 80%, transparent), 
    linear-gradient(to left, transparent, black 15%, black 75%, transparent);
    -webkit-mask-image: 
    linear-gradient(to right, transparent, black 15%, black 75%, transparent), 
    linear-gradient(to bottom, transparent, black 10%, black 80%, transparent), 
    linear-gradient(to top, transparent, black 10%, black 80%, transparent), 
    linear-gradient(to left, transparent, black 15%, black 75%, transparent);
    mask-composite: intersect;
    -webkit-mask-composite: destination-in;
}
.abt-txt{
    margin-right: 50px;
    margin-left: 50px;
    padding: 20px;
}
.list-footer-el{
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    color: white;
}
footer{
    font-family: "Playfair Display", serif;
    margin-top: 100px;
    padding: 40px;
}
.footer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 20px;
    /* font-family: "Mukta", sans-serif; */
    font-size: 20px;
    margin-bottom: 10px;
    width: 80%;
    margin: auto;
    color: white;
}
.footer-heading{
    margin-bottom: 15px;
}
/* Quick Links */
.quick-link a{
    line-height: 1.2;
    color: white;
    text-decoration: none;
}
.quick-link a:hover{
    color: grey;
}
.map{
    padding: 0px;
    border-radius: 10px;
}


.navbar-toggler{
    color: white;
}
.navbar-toggler-icon{
    margin-top: 5px;
}
.navbar a{
    color: white;

}


/* For Mobile */
@media only screen and (max-width: 680px) {
    /* Navbar */
    .navbar{
        width: 90%;
    }
    .nav-left{
        width: 100%;
    }
    .hero-section{
        padding: 0;
        flex-direction: column;
    }
    .left-side-img{
        width: 90%;
    }
    .left-side-img img{
        margin-left: auto;
        width: 28rem;
        height: auto;
    }
    .right-info{

        margin: 2rem;
        width: 70%;
    }
    .right-info p{
        margin-top: 0.8rem;
        font-size: 1rem;
    }
    .static{
        height: 4.9rem;
    }
    .event-collection{
         margin-top: 2.5rem;
         width: 90%;
        /* margin-left: 3%; */
    }

    .events{
        margin: auto;
        flex-direction: column;
    }
    .event-desc{
        width:90%;
        margin: auto;
    }   
    .event-desc img{
        width:80%;
        height: auto;
    }
    .event-desc  p{
        margin: auto;
        width: 80%;
    }
    .move-out-num{
        width: 90%;
    }
    .heading-counter{
        text-align: center;
    }
    .abt-img{
        width: 90%;
    }
    .counter-phone{
        width: 84%;
    }
    .counter-desc{
        text-align: center;
        margin-left: 0%;
        width: 84%;
    }
    .count-div{
        margin: 1.7rem auto;
    }
    .primary-flex{
        flex-direction: column;
    }
    .heading{
        text-align: center;
    }
    .about-us{
        width: 30rem;
    }

    .about-us h1{
        text-align: center;
        font-size: 2.5em;
    }
    footer{
        margin-top: 20px;
        padding: 0;
        margin-left: 0;
    }
    .footer{
        grid-template-columns: 1fr;
        width: 100%;
    }
    .footer_content{
        margin-top: 2rem;
    }
    #map{
        width: 80%;
    }
}

@media only screen and (max-width:1024px) and (min-width: 830px){
    .hero-section{
        /* padding: 0; */
        width: 100%;
    }
    .left-side-img img{
        margin-left: 5rem;
        width: 40rem;
        height: 100%;
    }   
    .right-info{
        text-align: center;
        margin: 0;
    }   
    .right-info p{
        width: 80%;
        margin: auto;
    }
    #word{
        /* height: 4.9rem; */
        width: 10rem;
        margin: auto;
    }
    .event-collection{
        width: 100%;
    }

    .abt-img{
        width: 55%;
    }
    .event-desc{
        width: 80%;
        flex: 1;
    }
    
    .footer{
        width: 100%;
        margin: 0%;
    }
    .quick-link a{
        width: 100%;
        line-height: 2;
        margin-left: 50px;
    }
    .footer_content{
        width: 100%;
    }
    .events{
        /* display: grid; */
        margin: auto;
        flex-wrap: wrap;
        width: 100%;
    }
    .event-img{
        width: 20rem;
    }
    .event-desc:nth-child(3){
        flex-basis: 100%;
        margin-top: 3rem;
    }
    .event-desc:nth-child(3) p{
        margin: auto;
        width: 25rem;
    }
}

@media screen and (max-width:830px) and (min-width:680px) {
    .navbar{
        /* width: 80%; */
    }
    .left-side-img img{
        width: 40rem;
        height: auto;
    }
    .right-info{
        margin: auto;
    }
    .right-info h1{
        line-height: 1.5;
    }
    .events{
        margin: 0;
        align-items: center;
        flex-direction: column;
        width: 100%;
    }
    .event-desc{
        width: 70%;
    }
    .event-img{
        margin: auto;
    }
    .hero-section{
        padding: 20px;
        width: 100%;
        flex-direction: column;
    }
    .left-side-img{
        margin: auto;
    }

    .abt-img{
        width: 50%;
    }
    .footer{
        width: 80%;
        margin: 0;
    }
}