<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="stylesheet" href="../static/css/classes.css">
    <script src="https://kit.fontawesome.com/b8b5d78796.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-dark navbar-expand-lg">
            <div class="container-fluid">
              <a class="nav-link navbar-brand" href="#">Maha Ganga Aarti Events</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                //- <i class="navbar-toggler-icon fa-solid fa-bars"></i>
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav">
                  <li class="nav-item list-elements">
                    <a class="nav-link" href="/">Home</a>
                  </li>
                  <li class="nav-item list-elements">
                    <a class="nav-link" href="/about-us">About</a>
                  </li>
                  <li class="nav-item list-elements">
                    <a class="nav-link" href="/gallery">Gallery</a>
                  </li>
                  <li class="nav-item list-elements">
                    <a class="nav-link" href="/services">Services</a>
                  </li>
                  <li class="nav-item list-elements">
                    <a class="nav-link" href="/book-your-aarti">Booking</a>
                  </li>
                //-   <li class="nav-item list-elements">
                //-     <a class="nav-link" href="#">Testimonials</a>
                //-   </li>
                //-   <li class="nav-item list-elements">
                //-     <a class="nav-link" href="#">Contact</a>
                //-   </li>
                </ul>
              </div>
            </div>
        </nav>
        //- <nav>
        //-     <div class="nav-left">
        //-         <a class="nav-link" href="/">Ganga Aarti Wedding Event</a>
        //-     </div>
        //-     <div class="nav-right">
        //-         <ul class="list-flat">
        //-             <a href="/"><li class="list-elements">Home</li></a>
        //-             <a href="/about-us"><li class="list-elements">About</li></a>
        //-             <a href="/gallery"><li class="list-elements">Gallery</li></a>
        //-             <a href=""><li class="list-elements">Services</li></a>
        //-             <a href="/book-your-aarti"><li class="list-elements">Booking</li></a>
        //-             <a href=""><li class="list-elements">Testimonials</li></a>
        //-             <a href=""><li class="list-elements">Contact</li></a>
        //-         </ul>
        //-     </div>
        //- </nav>
    </header>
    <main>
        <div class="hero-section">
            <div class="left-side-img">
                <img src="/static/images/aarti.jpg" alt="">
            </div>
            <div class="right-info">
                <h1 class="static" id="word">Book For </h1>
                <h1>We Host The Events. You Live The Events</h1>
                <p>Ganga Aarti- In the embrace of spiritual tranquility.
                Spiritual significance --  Ganga Aarti is not merely a visible spectacle but a deep spiritual ceremony. The devotion and energy of the ceremony make it a must attend event for those seeking a profound connection with Varanasi's spiritual essence.
                Several priests perform this ritual by carrying deepam and moving it up and down in a rhythmic tune of bhajans and shlokas.</p>
            </div>
        </div>
        <div class="event-collection">
            <div class="heading-event-collection">
                <h1 class="event-hero">What Do We Host?</h1>
            </div>
            <div class="events">
                <div class="event-desc">
                    <img class="event-img" src="/static/images/1U6A5480[1].jpg" alt="">
                    <h3 class="desc-font">Wedding events</h3>
                    <p>Offer An Hour of Deep Devotion to the Almighty, Through Our Hour Long Shaadi Aarti. Find The Essence of God and The Reason Behind It. Feel It, live It.</p>
                </div>
                <div class="event-desc">
                    <img class="event-img" src="../static/images/gallery_3.jpg" alt="">
                    <h3 class="desc-font">Jaimala Theme Entry</h3>
                    <p>Experience a divine Jaimala entry with the sacred aura of Ganga Aarti. Surrounded by fragrant incense and sacred chants, create unforgettable memories in a truly spiritual and mesmerizing atmosphere.</p>
                </div>
                <div class="event-desc">
                    <img class="event-img" src="../static/images/templeInaugration.jpg" alt="">
                    <h3 class="desc-font">Temple Inauguration</h3> 
                    <p>Celebrate the divine Temple Inauguration with us! Immerse in spiritual chants, vibrant decorations, and sacred rituals. A perfect blend of devotion and tradition awaits to bless your new beginnings.</p>
                </div>
            </div>
        </div>
        <div class="move-out-num">
            <div class="heading display-flex justify-center">
                <h1 class="heading-counter primary-flex justify-center margin-bottom">A Display Of Our Work!</h1>
            </div>
            <div class="primary-flex justify-center">
                <div class="count-div justify-end float-33">
                    <h1 id="counter" data-count="160" class="heading-counter justify-center primary-flex">0</h3>
                    <p class="counter-desc">Happy Clients</p>
                </div>
                <div class="count-div justify-center float-33">
                    <h1 id="counter" data-count="180" class="heading-counter justify-center primary-flex">0</h3>
                    <p class="counter-desc">Customer Reviews</p>
                </div>
                <div class="count-div justify-start float-33">
                    <h1 id="counter" data-count="230" class="heading-counter justify-center primary-flex">0</h3>
                    <p class="counter-desc">Complete Events</p>
                </div>
            </div>
        </div>
        <div class="about-us">
            <div class="heading display-flex justify-center">
                <h1 class="heading-counter primary-flex justify-center margin-bottom">Why Do You Need Aarti At Events?</h1>
            </div>
            <div class="primary-flex">
                <img class="abt-img float-50" src="/static/images/about.jpg" alt="">
                <p class="counter-desc text-abt float-50 abt-txt">The Ganga Aarti ceremony holds great spiritual and cultural significance for Hindus.The Ganges River is revered as a deity in Hinduism and is seen as a source of purification and salvation. The Ganga Aarti ceremony is also a way for Hindus to connect with their culture and traditions. <br> <br>
                   <b>The ceremony is a visually stunning and immersive experience that offers a glimpse into the rich spiritual and cultural traditions of Hinduism. It is believed that this ceremony purifies the mind body and soul of the people who participate.</b> <br> <br> It is considered auspicious to perform Ganga Aarti in a Cultural Program or Wedding Event . The Aarti holds great cultural and spiritual significance. lt is considered that if we take permission from Maa Ganga before starting of the event or ceremony our event is completed without any hindrances.</p>
            </div>
        </div>
    </main>
    <footer>
        <div class="footer">
            <div class="contact">
                <h1 class="footer-heading">Contact Us</h1>
                <p>Ganga Aarti Wedding Event</p>
                <p><i class="fa-solid fa-location-dot"></i> B2/95 Mata Anandamai Hospital</p>
                <p><i class="fa-solid fa-location-dot"></i> Bhadaini, Assi Ghat, Varanasi 221001</p>
                <p><i class="fa-solid fa-phone"></i>  +91-9521758984</p>
                <p><i class="fa fa-envelope" aria-hidden="true">
                </i>  gangaaartiwedding@gmail.com</p>
            </div>
            <div class="quick-link">
                <h1 class="footer-heading">Quick Links</h1>
                <a href="/"><i class="fa-solid fa-angle-right"></i> Home</a><br>
                <a href="/about-us"><i class="fa-solid fa-angle-right"></i> About Us</a><br>
                <a href="/gallery"><i class="fa-solid fa-angle-right"></i> Gallery</a><br>
                <a href="/book-your-aarti"><i class="fa-solid fa-angle-right"></i> Booking</a><br>
                <a href="/services"><i class="fa-solid fa-angle-right"></i> Services</a><br>     
            </div>
            <div class="map">
                <h1 class="footer-heading">Follow the Map</h1>
                <iframe src="https://www.google.com/maps/embed?pb=!1m26!1m12!1m3!1d3607.3801749579743!2d83.00156707538488!3d25.291428027650472!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m11!3e6!4m3!3m2!1d25.2945788!2d83.0039066!4m5!1s0x398e31c735815743%3A0xe45154968dea2eb5!2sGanga%20aarti%20wedding%20event!3m2!1d25.288256!2d83.0043273!5e0!3m2!1sen!2sin!4v1714374073278!5m2!1sen!2sin" width="100%" height="240" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="map"></iframe>
            </div>
        </div>
    </footer>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
<script src="/static/js/script.js"></script>
<script src="/static/js/scriptMove.js"></script>
</html>