@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
main{
    margin: 80px;
}
.position-marker{
    display: flex;
    justify-content: center;
    position: relative;
    margin: 40px;
}
.left-section{
    display: grid;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
}
.head-pos-abs{
    text-align: left;
    /* justify-content: center;
    display: flex; */
    /* position: absolute; */
    margin-left: 40px;
    top: 80px;
    left: 50px;
    font-weight: 700;
    opacity: 0.26;
    z-index: -2;
    right: 0;
    bottom: 0;
    color: white;
    font-size: 10em;
    font-family: inherit;
    height: 200px;
}
.head{
    display: flex;
    position: relative;
    top: -8.3rem;
    /* font-size: 23px; */
    justify-content: left;
    margin: 0 0 0 45px;
    color: wheat;
}
.font-abt{
    color: white;
    width: fit-content;
    display: flex;
    justify-content: left;
    text-align: justify;
    margin: 0px 0px 0px 20px;
    align-items: start;
}
.position-marker,.right-section{ 
    float: left;
    width: 50%;
}
.right-section{
    display: flex;
    justify-content: center;
}
.submit-div{
    display: flex;
    justify-content: left;
    margin: 20px 0px 0px 30px;
}
.submit-div a button{
    height: max-content;
    width: max-content;
    padding: 10px 10px;
    font-family: "Playfair Display",serif;
    background-color: rgba(34, 33, 33, 0.862);
    color: white;
    font-size: 15px;
    border-radius: 5px;
    border: 0.8px rgba(40, 39, 39, 0.764) solid;
    cursor: pointer;
    transition: 0.8s;
}
.submit-div button:hover{
    
    padding: 15px 40px;
    font-size: 20px;
    transition: 0.8s;
}

@media screen and (max-width: 1024px ){
    main{
        margin: 40px;
    }
    .head-pos-abs {
        font-size: 8rem;
    }

    .head {
        font-size: 1.5rem;
        top: -90px;
        margin: 0 0 0 40px;
    }
    .abt-img{
        width: 100%;
        height: auto;
    }
    .submit-div button{
        padding: 15px 40px;
        font-size: larger;
        font-weight: 700;
    }
    .font-abt{
        font-weight: 200;
    }
}


@media screen and (max-width: 840px) and (min-width: 600px) {
    .position-marker,
    .right-section {
        float: none;
        width: 100%;
        margin: 0;
    }

    .head-pos-abs {
        font-size: 6rem;
        margin-left: 0px;
        top: 60px;
        left:20px;
        position: relative;
    }

    .head {
        top: -70px;
        margin: 0 0 0 30px;
        font-size: 1.1rem;
    }

    .font-abt {

        margin: 0 20px;
    }
    .abt-img{
        object-fit: cover;
    }
    .submit-div {
        margin: 20px 0 0 20px;
    }
}

@media screen and (max-width:600px) {

    .position-marker{
        margin: 0px;
    }
    footer{
        width: 100vw;
    }

    .primary-flex{
        width: 100%;
    }
    .head-pos-abs{
        font-size: 6rem;
        top: 50px;
        margin-left: 15px;
    }
    .head{
        top: -8rem;
        font-size: 1rem;
        margin-left: 15px;
    }
    .font-abt{
        margin: auto;
    }
    .primary-flex div:first-child{
        order: 1;
    }
    .right-section{
        margin:auto;
    }
    .left-section{
        width: 100%;
        margin: 0;
    }
    .abt-img{
        margin: auto;
        width: 80vw;
        height: auto;
    }
    .submit-div{
        margin: 20px 0 0 0;
    }
    .submit-div button {
        width: 100%;
        padding: 10px;
        font-size: 18px;
    }
}